# Ignore IDE directories
.vscode/
.idea/

# Vagrant directory
.vagrant/

# Ignore repo configuration file
vagrant/conf.json

# Local .terraform directories
**/.terraform/*
# .tfstate files
*.tfstate
*.tfstate.*
# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Cache objects
packer_cache/
# Crash log
crash.log
# For built boxes
*.box
# Manifest files
*manifest.json*

# Ignore Jenkins temporary files
*/packer@tmp/*
*/terraform@tmp/*
